body {
    background-color: #F5F7F9;
    font-family: Lato, sans-serif;
}

.container-fluid {
    padding: 30px;
}

.card {
    border: none;
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}

.card:hover {
    transform: translateY(-5px);
}

.card-img-top {
    max-height: 200px;
    object-fit: cover;
}

.image-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    color: #FFFFFF;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.card:hover .image-overlay {
    opacity: 1;
}

.author,
.card-text.text-muted {
    margin: 5px 0;
    font-size: 14px;
}

.card-title {
    font-size: 18px;
    margin-top: 10px;
}

.card-text {
    color: #333;
}

.page-link {
    color: #7FBCC7;
}

.page-link:hover {
    color: #525252;
}

.pagination {
    margin-top: 20px;
}

