body {
    background-color: #F5F7F9;
    font-family: Roboto, sans-serif;
}

.shadow {
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.1);
}

.container-fluid {
    padding: 30px;
}

.card {
    border: none;
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 16px 48px rgba(0, 0, 0, 0.15);
    transition: transform 0.2s ease-in-out;
}

.card:hover {
    transform: translateY(-5px);
}

.card-img-top {
    max-height: 200px;
    object-fit: cover;
}

.author,
.card-text.text-muted {
    margin: 5px 0;
    font-size: 14px;
}

.card-title {
    font-size: 18px;
    margin-top: 10px;
}

.card-text {
    color: #333;
}

.card-header {
    background-color: #f2f2f2;
    border-bottom: none;
}

.page-link {
    color: #7FBCC7;
}

.page-link:hover {
    color: #525252;
}

.pagination {
    margin-top: 20px;
}

.masthead {
    background: #2d547071;
    height: auto;
    padding-bottom: 15px;
    box-shadow: 0 16px 48px #E3E7EB;
    padding-top: 10px;
}

.masthead .masthead-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.masthead-image img {
    max-width: 100%;
    max-height: 100%;
}

.nav-tabs .nav-link {
    background-color: transparent;
    border: none;
    color: white;
}

.nav-tabs .nav-link.active {
    background-color: #fff;
}
