:root {
    /* Background Colors */
    --main-bg-color: #f5f5f5;
    /* Light gray background */
    --navbar-bg-color: #f0f0f0;
    /* Lighter gray for the navbar */
    --footer-bg-color: #f0f0f0;
    /* Lighter gray for the footer */

    /* Text Colors */
    --text-color: #333;
    /* Dark gray text */
    --navbar-text-color: #333;
    /* Dark gray text for the navbar */
    --footer-text-color: #333;
    /* Dark gray text for the footer */

    /* Link Colors */
    --link-color: #409c43bc;
    /* Calm green link color */
    --link-hover-color: #357a38;
    /* Darker green link color on hover */

    /* Button Colors */
    --btn-primary-bg: #409c43bc;
    /* Calm green button background color */
    --btn-primary-text: #fff;
    /* White button text color */
    --btn-primary-border: #409c43bc;
    /* Calm green button border color */
}



body {
    background-color: var(--main-bg-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin-top: 0;
    margin-bottom: 0;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-primary);
}

main {
    margin-top: 0;
    /* Remove top margin */
    margin-bottom: 0;
    /* Remove bottom margin */
    padding-top: 50px;
    /* Add space at the top of the main content */
    padding-bottom: 50px;
    /* Add space at the bottom of the main content */
}

.content-container {
    overflow-y: auto;
    /* Enable vertical scrolling for content */
    padding-top: 0;
    /* Add space at the top of the content */
    padding-bottom: 0;
    /* Add space at the bottom for the sticky footer */
}

.page-title {
    font-size: 70px;
    color: var(--color-black);
}

/* Form Input Fieldds */
.form-control:active,
.form-control:focus {
    outline: none;
    box-shadow: none;
    border-color: var(--color-black);
}

.btn:active,
.btn:focus {
    outline: none;
}

.btn.btn-primary {
    background-color: var(--color-black);
    color: var(--color-white);
    border-color: var(--color-black);
}

.navbar {
    background-color: var(--navbar-bg-color);
    color: var(--navbar-text-color);
    min-height: auto;
}

#footer {
    background-color: var(--footer-bg-color);
    color: var(--footer-text-color)/ font-size: 14px;
    /* Footer font size */
    padding-top: 20px;
    /* Add space at the top */
    margin-top: 30px;
    /* Add space at the top */
}

#footer .btn:hover {
    background-color: #333;
    /* Hover background color */
    color: #fff;
    /* Hover text color */
}

#footer .footer-heading {
    margin-bottom: 10px;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    color: var(--link-hover-color);
    text-decoration: none;
}


.btn.btn-primary {
    background-color: var(--btn-primary-bg);
    color: var(--btn-primary-text);
    border-color: var(--btn-primary-border);
}

.icon {
    color: #357a38;
}


/* Sign-up Button */
.btn-signup {
    background-color: #23BBBB;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
    text-decoration: none;
}

/* Sign-up Button - Apply Styles to Submit Button */
.btn-signup[type="submit"] {
    background-color: var(--btn-primary-bg); /* Use the primary button background color */
    color: var(--btn-primary-text); /* Use the primary button text color */
    border: 1px solid var(--btn-primary-border); /* Use the primary button border color */
}

/* Login Button - Apply Styles to Submit Button */
.btn-login[type="submit"] {
    background-color: var(--btn-primary-bg); /* Use the primary button background color */
    color: var(--btn-primary-text); /* Use the primary button text color */
    border: 1px solid var(--btn-primary-border); /* Use the primary button border color */
}