{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}

<div class="container">
    <h1>Add Comment to Photo</h1>
    <div class="row">
        <div class="col-md-8">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">{{ photo.caption }}</h5>
                    <img src="{{ photo.image.url }}" class="card-img-top" alt="{{ photo.caption }}">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <form method="post" action="{% url 'add_photo_comment' pk=photo.pk %}">
                {% csrf_token %}
                {{ comment_form | crispy }}
                <button type="submit" class="btn btn-success mt-3">Submit Comment</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
