{% extends 'base.html' %} 
{% block content %}

{% load crispy_forms_tags %}

<div class="container">
    <h2>Delete Comment</h2>
    <p>Are you sure you want to delete the following comment?</p>
    <p><strong>{{ comment.body }}</strong></p>
    <form method="post">
        {% csrf_token %}
        {{ form | crispy }}
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>
    <form method="post">
        {% csrf_token %}
        <a href="{% url 'edit_photo_comment' pk=comment.content_object.pk comment_id=comment.id %}" class="btn btn-secondary">Edit</a>
        <a href="{% url 'photo_detail' pk=comment.content_object.pk %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>

{% endblock content %}

