{% extends 'base.html' %} 
{% block content %}

{% load crispy_forms_tags %}

<div class="container">
    <h2>Delete Comment</h2>
    <p>Are you sure you want to delete the following comment?</p>
    <p><strong>{{ comment.body }}</strong></p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Delete Comment</button>
    </form>
    <div class="mt-4">
        <a href="{% url 'edit_blog_comment' slug=comment.content_object.slug comment_id=comment.id %}" class="btn btn-secondary">Edit</a>
        <a href="{% url 'post_detail' slug=comment.content_object.slug %}" class="btn btn-secondary">Cancel</a>
    </div>
</div>

{% endblock content %}

