{% extends 'base.html' %} 
{% block content %}

{% load crispy_forms_tags %}

<div class="container">
    <h2>Edit Comment</h2>
    <form method="post">
        {% csrf_token %}
        {{ form | crispy }}
        <button type="submit" class="btn btn-primary">Update Comment</button>
    </form>
    <a href="{% url 'edit_photo_comment' pk=comment.content_object.pk comment_id=comment.id %}" class="btn btn-secondary">Edit</a>
        <a href="{% url 'delete_photo_comment' pk=comment.content_object.pk comment_id=comment.id %}" class="btn btn-secondary">Delete</a>
        <a href="{% url 'photo_detail' pk=comment.content_object.pk %}" class="btn btn-secondary">Cancel</a>
</div>

{% endblock content %}
