{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row">
        {% for photo in photos %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="{{ photo.image.url }}" class="card-img-top" alt="Photo">
                <div class="card-body">
                    <p class="card-text">{{ photo.caption }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}
