{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
  <h1>Inbox</h1>
  <form method="post" action="{% url 'delete_selected_messages' %}">
    {% csrf_token %}
    <a href="{% url 'draft_inbox' %}" class="btn btn-primary">Draft Inbox</a>
    <button type="submit" class="btn btn-danger">Delete Selected</button>
    <ul>
      {% for message in messages %}
        <li>
          <label>
            <input type="checkbox" name="message_ids" value="{{ message.id }}">
            <a href="{% url 'message_detail' message.id %}">{{ message.subject }}</a>
          </label>
        </li>
      {% endfor %}
    </ul>
  </form>
{% endblock %}
