{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
{% load cloudinary %}

<div class="container" data-aos="fade-up">
    <div class="row g-5">
        <!-- Blog Entries Column -->
        <div class="col-lg-8">
            <div class="row g-5">
                {% for post in post_list %}
                <div class="col-lg-6">
                    <div class="post-entry-1">
                        <a href="{% url 'post_detail' post.slug %}">
                            <img src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg" alt="" class="img-fluid">
                        </a>
                        <h2><a href="{% url 'post_detail' post.slug %}">{{ post.title }}</a></h2>
                        <p class="mb-4 d-block">{{ post.exerpt }}</p>

                        <div class="d-flex align-items-center author">
                            <div class="photo"><img src="assets/img/person-1.jpg" alt="" class="img-fluid"></div>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:2 %}
            </div>
            <div class="row g-5">
                {% endif %}
                {% endfor %}
            </div>
        </div>

        <!-- Sidebar -->
        <div class="col-lg-4">
            <div class="col-lg-12 border-start custom-border">

                <div class="post-entry-1">
                    <a href="https://codeinstitute.net/"><img src="assets/img/code-institute-logo.png" alt="Code Institute Logo" class="img-fluid"></a>
                    <h2><a href="https://codeinstitute.net/">Code Institute</a></h2>
                    <p class="mb-4 d-block">Learn web development with Code Institute's Full Stack Software Development Diploma. Get certified in HTML, CSS, JavaScript, Python, and more.</p>
                </div>

                <div class="post-entry-1">
                    <a href="https://www.djangoproject.com/"><img src="assets/img/django-logo.png" alt="Django Logo" class="img-fluid"></a>
                    <h2><a href="https://www.djangoproject.com/">Django Web Framework</a></h2>
                    <p class="mb-4 d-block">Build web applications with Django, a high-level Python web framework. Explore Django's features for rapid development.</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
