{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
{% load cloudinary %}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">{{ photo.caption }}</h5>
                    <img src="{{ photo.image.url }}" class="card-img-top" alt="{{ photo.caption }}">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <h2>Comments</h2>
            {% for comment in comments %}
            <div class="card mb-2">
                <div class="card-body">
                    <h6 class="card-title">{{ comment.name }}</h6>
                    <p class="card-text">{{ comment.body }}</p>
                    <p class="card-subtitle text-muted">{{ comment.created_on }}</p>
                    {% if user.is_authenticated and user.username == comment.name %}
                    <div class="comment-actions">
                        <a href="{% url 'edit_photo_comment' pk=photo.pk comment_id=comment.id %}"
                            class="btn btn-sm btn-primary">Edit</a>
                        <a href="{% url 'delete_photo_comment' pk=photo.pk comment_id=comment.id %}"
                            class="btn btn-sm btn-danger">Delete</a>
                    </div>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col-1">
            <strong>
                {% if user.is_authenticated %}
                <form class="d-inline" action="{% url 'photo_like' pk=photo.pk %}" method="POST">
                    {% csrf_token %}
                    {% if liked %}  {# Update variable name here #}
                    <button type="submit" name="photo_id" value="{{ photo.pk }}" class="btn-like">
                        <i class="fas fa-heart"></i>
                    </button>
                    {% else %}
                    <button type="submit" name="photo_id" value="{{ photo.pk }}" class="btn-like">
                        <i class="far fa-heart"></i>
                    </button>
                    {% endif %}
                </form>
                {% else %}
                <span class="text-secondary"><i class="far fa-heart"></i></span>
                {% endif %}
                <span class="text-secondary">{{ photo.number_of_likes }}</span>
            </strong>
        </div>
        <div class="col-1">
            <strong class="text-secondary"><i class="far fa-comments"></i> {{ comments|length }}</strong>
        </div>
    </div>
    
</div>

{% endblock content %}
