{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
{% load cloudinary %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-8 card mb-4  mt-3 text-center">
                <div class="card-body">
                    <h1>{% block title %} {{ object.title }} {% endblock title %}</h1>
                    <p class=" text-muted">{{ object.author }} | {{ object.created_on }}</p>
                    <p class="card-text ">{{ object.content | safe }}</p>
                </div>
            </div>
            <div class="d-none d-md-block col-md-8 masthead-image">
                {% if "placeholder" in object.featured_image.url %}
                <img src="https://www.example.com/path/to/your/placeholder/image.jpg" width="100%">
                {% else %}
                <img src=" {{ object.featured_image.url }}" width="100%">
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body">
                <p class="card-text ">
                    {{ object.content | safe }}
                </p>
                <div class="row">
                    <div class="col-1">
                        <strong>
                            {% if user.is_authenticated %}
                            <form class="d-inline" action="{% url 'post_like' object.slug %}" method="POST">
                                {% csrf_token %}
                                {% if liked %}
                                <button type="submit" name="blogpost_id" value="{{ object.slug }}" class="btn-like">
                                    <i class="fas fa-heart"></i></button>
                                {% else %}
                                <button type="submit" name="blogpost_id" value="{{ object.slug }}" class="btn-like">
                                    <i class="far fa-heart"></i></button>
                                {% endif %}
                            </form>
                            {% else %}
                            <span class="text-secondary"><i class="far fa-heart"></i></span>
                            {% endif %}
                            <span class="text-secondary">{{ object.number_of_likes }}</span>
                        </strong>
                    </div>
                    <div class="col-1">
                        <strong class="text-secondary"><i class="far fa-comments"></i>
                            {{ comments|length }}</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 card mb-4 mt-3">
            <h3>Comments:</h3>
            <div class="card-body">
                <!-- For posts -->
                {% for comment in comments %}
                <div class="comments" style="padding: 10px;">
                    <p class="font-weight-bold">
                        {{ comment.name }}
                        <span class="text-muted font-weight-normal">
                            {{ comment.created_on }}
                        </span> wrote:
                    </p>
                    {{ comment.body | linebreaks }}
                </div>
                {% if user.is_authenticated and user.username == comment.name %}
                <div class="comment-actions">
                    <a href="{% url 'edit_blog_comment' object.slug comment.id %}" class="btn btn-sm btn-primary">Edit</a>
                    <a href="{% url 'delete_blog_comment' object.slug comment.id %}" class="btn btn-sm btn-danger">Delete</a>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        
        <div class="col-md-4 card mb-4 mt-3">
            <div class="card-body">
                {% if commented %}
                <div class="alert alert-success" role="alert">
                    Your comment has been successfully submitted.
                </div>
                {% else %}
                {% if user.is_authenticated %}
                <h3>Leave a comment:</h3>
                <p>Posting as: {{ user.username }}</p>
                {% if comment_form.errors %}
                <div class="alert alert-danger" role="alert">
                    There were some errors in your comment:
                    <ul>
                        {% for field_errors in comment_form.errors.values %}
                        {% for error in field_errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
                <script>
                    setTimeout(function () {
                        $('.alert').fadeOut('slow');
                    }, 2000);
                </script>
                <form method="post" style="margin-top: 1.3em;">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-signup btn-lg">Submit</button>
                </form>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% if messages %}
{% for message in messages %}
<div class="alert {{ message.tags }} role=" alert">
    {{ message }}
</div>
{% endfor %}
{% endif %}

{% endblock content %}
